body{
    background-color: rgb(35, 35, 112);;
}
.whole-container{
    width: 1250px;
    height: 800px;
    position: relative;
    top: 0px;

}
.sub-container{
    width: 1250px;
    height: 400px;
    position: relative;
    top: 100px;
    left: 30px;
}
.img1{
    width: 390px;
    height: 350px;
}
.gallery-header{
    top: 100px;
    left: 550px;
    color: white;
    position: relative;
    font-size: 60px;
}